.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.fileInput {
  appearance: none;
  border: none;
  background-color: #282c34;
  color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.emailInput {
  appearance: none;
  border: 1px solid #61dafb;
  background-color: #282c34;
  color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.submitButton {
  border: none;
  background-color: #61dafb;
  color: #282c34;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
